<%- include("../components/header") %>
<div class="container">
  <h1 class="text-5xl font-bold mb-10">إنشاء حساب</h1>
  <form action="/users/signup" method="POST">
    <div class="row">
      <div class="col-6">
        <label for="firstName">الإسم الشخصي</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          class="mt-2 mb-4"
          value="<%= locals.firstName %>"
        />
        <% if (locals.errors && locals.errors.firstName) { %>
        <p
          class="py-3 mb-4 px-3 bg-red bg-opacity-25 rounded border-red border"
        >
          <%= errors.firstName.message %>
        </p>
        <% } %>
      </div>
      <div class="col-6">
        <label for="lastName">الإسم العائلي</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          class="mt-2 mb-4"
          value="<%= locals.lastName %>"
        />
        <% if (locals.errors && locals.errors.lastName) { %>
        <p
          class="py-3 mb-4 px-3 bg-red bg-opacity-25 rounded border-red border"
        >
          <%= errors.lastName.message %>
        </p>
        <% } %>
      </div>
      <div class="col-12">
        <label for="email">البريد الإلكتروني</label>
        <input
          type="email"
          id="email"
          name="email"
          class="mt-2 mb-4"
          value="<%= locals.email %>"
        />
        <% if (locals.errors && locals.errors.email) { %>
        <p
          class="py-3 mb-4 px-3 bg-red bg-opacity-25 rounded border-red border"
        >
          <%= errors.email.message %>
        </p>
        <% } %> <% if (locals.error && !locals.errors) { %>
        <p
          class="py-3 mb-4 px-3 bg-red bg-opacity-25 rounded border-red border"
        >
          هذا البريد الإلكتروني على قيد الاستعمال من طرف حساب آخر
        </p>
        <% } %>
      </div>
      <div class="col-6">
        <label for="password">كلمة السر</label>
        <input
          type="password"
          id="password"
          name="password"
          class="mt-2 mb-4"
        />
        <% if (locals.errors && locals.errors.password) { %>
        <p
          class="py-3 mb-4 px-3 bg-red bg-opacity-25 rounded border-red border"
        >
          <%= errors.password.message %>
        </p>
        <% } %>
      </div>
      <div class="col-6">
        <label for="passwordRepeat">إعادة كلمة السر</label>
        <input
          type="password"
          id="passwordRepeat"
          name="passwordRepeat"
          class="mt-2 mb-4"
        />
        <% if (locals.passwordRepeatError) { %>
        <p
          class="py-3 mb-4 px-3 bg-red bg-opacity-25 rounded border-red border"
        >
          كلمتا السر مختلفتان
        </p>
        <% } %>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary w-full">
          إنشاء الحساب
        </button>
        <p class="mt-4">
          تمتلك حسابا؟ قم ب<a href="/users/signin" class="text-primary"
            >تسجيل الدخول</a
          >
        </p>
      </div>
    </div>
  </form>
</div>
<%- include("../components/footer") %>
